@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: white;
  margin: 0;
  color: #333333;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  padding: 0 70px;
}

main {
  text-align: center;
}

.navigation {
  display: flex;
  margin-left: 30px;
  gap: 32px;
}

.main-nav {
  display: flex;
  align-items: center;
  width: 100%;
}

.user-navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
}

.socials {
  display: flex;
  gap: 13px;
}

.htmlacademy-logo {
  margin-right: 70px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: inset(100%);
  overflow: hidden;
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}

.title-color-white {
  color: #ffffff;
}

.title-color-black {
  color: #000000;
}

.title-size-xl {
  font-size: 60px;
  line-height: 78px;
}

.title-size-l {
  font-size: 30px;
  line-height: 36px;
}

.title-size-m {
  font-size: 24px;
  line-height: 28px;
}

.text {
  font-weight: 400;
  color: #000000;
}

.text-size-l {
  font-size: 22px;
  line-height: 26px;
}

.text-size-m {
  font-size: 21px;
  line-height: 18px;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
}

.button-size-s {
  width: 160px;
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
}

.button-size-m {
  width: 232px;
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
}

.button-size-l {
  width: 376px;
  min-height: 52px;
  font-size: 20px;
  line-height: 36px;
  margin-top: 54px;
  margin-bottom: 96px;
}

.button-size-xs {
  width: 140px;
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
}

.button-size-full {
  width: 191px;
  min-height: 36px;
  font-size: 16px;
  line-height: 20px;
}

.button-color-primary {
  background-color: #756157;
  color: #ffffff;
}

.button-color-secondary {
  background-color: #82b3d3;
  color: #ffffff;
}

.button-color-transparent {
  background-color: transparent;
  color: #ffffff;
}

.input {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

.input-size-l {
  font-size: 24px;
  line-height: 18px;
  color: #000000;
  width: 452px;
  min-height: 48px;
  border-radius: 4px;
}

.input-size-m {
  font-size: 18px;
  line-height: 21px;
}

.input-size-s {
  font-size: 18px;
  line-height: 23px;
}

.welcome-to-sedona {
  display: flex;
  background-image: url("../pics/welcome-to-sedona-background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 485px;
  margin-bottom: 69px;
}

.user-navigation-item {
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  line-height: 24px;
}

.phone-number {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.list-of-advantages {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 100%;
}

.advantages-section {
  display: flex;
  width: 100%;
  margin-top: 90px;
}

.advantages-item:first-child,
.advantages-item:last-child {
  background-color: #82B3D3;
  display: flex;
  width: 100%;
}

.advantages-item:first-child .advantage-text,
.advantages-item:last-child .advantage-text {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.advantages-item:first-child .town-scenery,
.advantages-item:last-child .devil-bridge-pic {
  flex: 2;
  width: auto;
  height: auto;
  display: block;
}

.advantages-item:nth-child(2),
.advantages-item:nth-child(4) {
  background-color: #83B3D31F;
}

.advantages-item:nth-child(3) {
  background-color: #83B3D333;
}

.advantages-item:not(:first-child):not(:last-child) {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  aspect-ratio: 1 / 1;
}

.advantages-item:first-child .advantage-text .title,
.advantages-item:first-child .advantage-text .text,
.advantages-item:last-child .advantage-text .title,
.advantages-item:last-child .advantage-text .text {
  color: #ffffff;
}

.come-to-sedona-section {
  margin-top: 64px;
}

.recommendations-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.recommendations-item {
  margin-top: 64px;
  margin-bottom: 96px;
  flex: 1;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}

.recommendations-item:first-child,
.recommendations-item:last-child {
  background-color: #83B3D333;
}

.subscription-section {
  background-image: url("../pics/subscription-background.jpg");
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  height: 415px;
}

.subscription-section .text {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.subscribe-form .input-size-l {
  border-radius: 4px 0 0 4px;
  margin: 0;
  border: none;
}

.subscribe-form .button-size-m {
  border-radius: 0 4px 4px 0;
  margin: 0;
}

.filter-section {
  background-image: url("../pics/filter-catalog-background.jpg");
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 100%;
  min-height: 412px;
  padding: 35px 70px 0 70px;
  box-sizing: border-box;
}

.hotels-sedona {
  margin: 0 0 8px 0;
}

.hotels {
  margin: 0 0 40px 0;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}

.filter-group:first-child {
  margin-right: 70px;
}

.filter-group:nth-child(2) {
  margin-right: 140px;
}

.filter-group:nth-child(3) {
  margin-right: 70px;
  flex-direction: column;
}

.filter-group:last-child {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.filter-items-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.filter-group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
}

.filter-item input,
.filter-item label {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: white;
}

.filter-item .input {
  margin-right: 12px;
}

.select-founded-hotels {
  display: flex;
  padding-top: 30px;
  padding-left: 70px;
  gap: 200px;
  align-items: center;
}

.founded-hotels {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.price-select {
  min-width: 292px;
  height: 49px;
  border-radius: 4px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0 70px;
  margin: 0;
}

.hotel-card {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 438px;
  text-align: left;
  gap: 16px;
}

.hotel-card h3,
.hotel-card p,
.hotel-card .price-row,
.hotel-card .rating {
  margin: 0;
}

.price-row,
.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-type,
.hotel-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  background-color: #F2F2F2;
  color: #333333;
  text-transform: uppercase;
  width: 140px;
  min-height: 36px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  line-height: 36px;
  margin-left: auto;
}

ul {
  list-style: none;
}
